@media only screen and (min-device-width : 425px) and (max-device-width : 800px) {
  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }

  .home {
    width: 100%;
    height: 100vh;

    .logo {
      width: 150px;
      height: 70px;
      margin: 20px;

      .logo_imageH {
        width: 150px;
        height: 70px;
      }
    }

    .cover_home1 {
      height: 30%;
      width: 100%;
      background-image: url('../images/motif.png');
      background-size: cover;
     
      background: cover;
      align-items: center;
      display: flex;
      justify-content: center;
      .code_back {
        background-color: white;
        width: 90%;
        height: 80%;
        align-items: center;
        // margin-left: auto;
        // margin-right: auto;
        // display: block;
        border-radius: 5px;

        .inside {
          .writeH1 {
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 10px;
          }

          .writeH2 {
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            font-weight: bold;

          }

          .cover_home2 {
           // height: 50%;
            width: 100%;
            display: flex;
           // justify-content: center;
            .cirC{
              width: 50%;
              text-align: center;
              align-items: center;
              .cirH {
                width: 50px;
                height: 50px;
                border-radius: 50px;
             
                box-shadow: 2px 2px 0px 1px rgb(212, 216, 218);
        
                .cirImage {
                  width: 40px;
                  height: 40px;
                }
  
              }
            }
           

          .price_h {
           // width:200px;
            // justify-content: center;
              display: flex;
            width: 50%;
            .saldoH {
              width:100px;
              
              .write_saldoH {
                width:100%;
              }
             
              .write_poinH {
                width:100%;
              }
              
            }

            .poinH {
              width:100px;
              //display: block;
             // float: right;
              // display: flex;
              
            
              .nom_saldoH {
               
                text-align: end;
                width:100%;
                font-weight: bold;
              }
              .nom_poinH {
                text-align: end;
                width:100%;
                color: green;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
    .black_coverH {
    
      height: 30%;
      width: 100%;
      background-color: black;

      .black_logoH {
        width: 59%;
        height: 150px;
      }
    }

    .small_coverH {
      .slideH {}

      .viewH {}

    }
 
}

}