@media (max-width:2560px){
 
}
@media (max-width:1440px){
  
}
@media (max-width:1024px){

}
  
@media (max-width:768px){
  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color:  transparent;
  }
  
  .page{
    margin: 0;
    padding: 0;
    .dekstop_page{
      overflow: hidden; 
      --swiper-theme-color: #007aff;
      .header_page{
       
        font-family: Plus Jakarta Sans;
        padding: 0 13px;
        .first_header{
         
          height: 63px;
        
          width: 100%;
          .image_first_header{
           
            height: 27px;
            width: 64px; 
         
          }
          .nav{
            display: none;
            .nav_item{
             display: none;
            }
            .link_nav{
              display: none;
            }
          }
         
          .language{
            align-items: center;
            display: flex;
            .language_item1{
             
              font-size: 16px;
             
            }
            .language_item2{
             
              font-size: 16px;
             
            }
            .burger{
              height: 16px;
              //width: 28px;
             
              .burger1{
               
                width: 50px;
                height: 2px;
                background-color: #000;
              }
              .burger2{
               // stroke-linecap: round;
                 text-align: right;
              justify-content: right;
                right: 0;
                margin-top: 5px;
                width: 40px;
                height: 2px;
                background-color: #000000;
              }
              .burger3{
                margin-top: 5px;
                width: 30px;
                height: 2px;
                background-color: #000;
              }
            }
          }
          
        }
        .second_header{
         
          .header_content{
            
            .second_image{
             
              height: 32px;
              width: 91px;
             
            }
            .right_content{
             
              .button1{
  
                font-size: 12px;
                
                height: 34px;
               
                width: 80px;
               
              }
              .button2{
                font-size: 12px;
                
                height: 34px;
               
                width: 80px;
                }
            }
          }
        }
      }
      .first{
        padding: 0 ;
        margin: 0;
        .first_page{
          background-image: url(./../images/first3.png);
          border-radius: 0 0 30px 30px;
          height: 800px;
          margin-top: -130px;
          .title_first{
           
            font-size: 36px;
           
            padding-top: 192px;
           
            .link_in_bio{
              font-size: 36px;
            }
          }
          .subfirst{
            font-size: 20px;
            margin:0 auto 20px;
            width: 248px;
            .strong{
            }
          }
          .first_button{
            font-size: 14px;
            height: 52px;
            line-height: 52px;
            margin-bottom: 30px;
            max-width: 292px;
            padding: 0 25px;
          }
          .image_first{
            height: 292px;
            width: 276px;
          }
        }
      }
      .solution{
        // background-size: 100% 45%;
        // padding-bottom: 80px;
        background-image: url(./../images/second.png);
        background-repeat: no-repeat;
        display: block;
        margin-bottom: 80px;
       
        background-position-x: -200px;
        background-size: 180% 45%;
        padding-bottom: 120px;
        .wrap_solution{
          background-repeat: no-repeat;
          //background-size: 100% 45%;
          margin-top: -40px;
           width: 100%;
          flex-direction: column;
          .wrap_solution1{
            margin: 0;
            padding: 0 15px;
            
            .image_solution{
              display: none;
            }
            .image_solution2{
              display: block;
              vertical-align: middle;
              align-items: center;
              text-align: center;
              width: 100%;
              margin-bottom: 46px;
              border-style: none;
             
              // overflow-clip-margin: content-box;
              // overflow: clip;
            }
          }
          .wrap_solution2{
            margin: 0 54px;
            display: block;
            
            .bisnis_solution2{
              
              align-items: center;
              display: flex;
              font-family: Plus Jakarta Sans;
              
              
              .span_bisnis{
                color: #000;
                font-size: 24px;
                font-weight: 400;
                line-height: 28px;
                padding-right: 18px;
                font-family: Plus Jakarta Sans;
              }
              .line_bisnis{
                background: #000;
                content: "";
                display: block;
                height: 1px;
                margin-top: 10px;
                width: 226px;
              }
            }
            .sub_bisnis{
              font-family: Plus Jakarta Sans;
              font-size: 48px;
              font-weight: 700;
              letter-spacing: -.02em;
              line-height: 1.25;
              margin-top: 24px;
              max-width: 480px;
              position: relative;
              
              .span_sub_bisnis {
                -webkit-text-fill-color: transparent;
                background: linear-gradient(90.48deg,#ffdb4c 14.04%,#ff9e2d 49.09%,#333 115.15%);
                -webkit-background-clip: text;
                letter-spacing: 0;
                font-family: Plus Jakarta Sans;
                font-size: 48px;
                font-weight: 700;
                line-height: 1.25;
              }
            }
            .paraf_bisnis{
              max-width: 329px;
              font-family: Plus Jakarta Sans;
              font-size: 20px;
              line-height: 30px;
              margin-top: 24px;
              
            }
            .imglist{
              margin-top: 28px;
              font-family: var(--default-font);
              font-size: .14rem;
              .sponsored_list{
                height: 60px;
                width: 410px;
                border-style: none;
                vertical-align: middle;
                overflow-clip-margin: content-box;
                overflow: clip;
              }
            }
  
          }
        }
        .floor2{
         
          width: 100%;
          flex-direction: column;
          .floor2_text{
            display: block;
            margin: 0 54px;
            font-family:"Plus Jakarta Sans Regular","Roboto","Helvetica Neue",sans-serif;
            font-size: .14rem;
            .header_floor2{
              align-items: center;
              display: flex;
              font-family: Plus Jakarta Sans;
              .span_header_floor2{
                color: #000;
                font-size: 24px;
                font-weight: 400;
                line-height: 28px;
                padding-right: 18px;
              }
              .line_header_floor2{
                background: #000;
                content: "";
                display: block;
                height: 1px;
                margin-top: 10px;
                width: 226px;
  
              }
            }
            .sub_floor2{
              
              .span_sub_floor2{
               
                
              }
              
            }
            .article_floor2{
             
            }
          }
          .image_floor2{
            margin: 0;
            padding: 0 15px;
            
            .image_floor2_1{
              display: none;
            }
            .image_floor2_2{
              display: block;
              width: 100%;
               margin-bottom: 46px;
              border-style: none;
              vertical-align: middle;
           
            }
          }
        }
        .floor3{
       
          width: 100%;
          flex-direction: column;
          
          .image_floor3{
             margin: 0;
            padding: 0 15px;
            .image_floor3_1{
             display: none;
            }
             .image_floor3_2{
              display: block;
              width: 100%;
               margin-bottom: 46px;
              border-style: none;
              vertical-align: middle;
           
            }
          }
          .floor3_text{
            display: block;
            margin: 0 54px;
            font-family:"Plus Jakarta Sans Regular","Roboto","Helvetica Neue",sans-serif;
            font-size: .14rem;
            .header_floor3{
              align-items: center;
              display: flex;
              font-family: Plus Jakarta Sans;
              .span_header_floor3{
                color: #000;
                font-size: 24px;
                font-weight: 400;
                line-height: 28px;
                padding-right: 18px;
              }
              .line_header_floor3{
                background: #000;
                content: "";
                display: block;
                height: 1px;
                margin-top: 10px;
                width: 226px;
  
              }
            }
            .sub_floor3{
              font-family: Plus Jakarta Sans;
              font-size: 48px;
              font-weight: 700;
              letter-spacing: -.02em;
              line-height: 1.25;
              margin-top: 24px;
              max-width: 480px;
              position: relative;
              .span_sub_floor3{
                -webkit-text-fill-color: transparent;
                background: linear-gradient(90.48deg,#ffdb4c 14.04%,#ff9e2d 49.09%,#333 115.15%);
                -webkit-background-clip: text;
                letter-spacing: 0;
                font-family: Plus Jakarta Sans;
                font-size:48px;
                font-weight: 700;
                line-height: 1.25;
              }
              
            }
            .article_floor3{
              font-family: Plus Jakarta Sans;
              font-size: 20px;
              line-height: 30px;
              margin-top: 24px;
              max-width: 394px;
            }
          }
          
        }
        .floor4{
          width: 100%;
          flex-direction: column;
          .image_floor4{
            margin: 0;
            padding: 0 15px;
            .image_floor4_1{
             display: none;
            }
            .image_floor4_2{
              display: block;
              width: 100%;
               margin-bottom: 46px;
              border-style: none;
              vertical-align: middle;
              overflow-clip-margin: content-box;
              overflow: clip;
            }
          }
          .floor4_text{
            display: block;
            margin: 0 54px;
            font-family:"Plus Jakarta Sans Regular","Roboto","Helvetica Neue",sans-serif;
            font-size: .14rem;
            .header_floor4{
              align-items: center;
              display: flex;
              font-family: Plus Jakarta Sans;
              .span_header_floor4{
                color: #000;
                font-size: 24px;
                font-weight: 400;
                line-height: 28px;
                padding-right: 18px;
              }
              .line_header_floor4{
                background: #000;
                content: "";
                display: block;
                height: 1px;
                margin-top: 10px;
                width: 226px;
  
              }
            }
            .sub_floor4{
              font-family: Plus Jakarta Sans;
              font-size: 48px;
              font-weight: 700;
              letter-spacing: -.02em;
              line-height: 1.25;
              margin-top: 24px;
              max-width: 480px;
              position: relative;
              .span_sub_floor4{
                -webkit-text-fill-color: transparent;
                background: linear-gradient(90.48deg,#ffdb4c 14.04%,#ff9e2d 49.09%,#333 115.15%);
                -webkit-background-clip: text;
                letter-spacing: 0;
                font-family: Plus Jakarta Sans;
                font-size:48px;
                font-weight: 700;
                line-height: 1.25;
              }
              
            }
            .article_floor4{
              font-family: Plus Jakarta Sans;
              font-size: 20px;
              line-height: 30px;
              margin-top: 24px;
              max-width: 394px;
            }
            .sponsored4{
              font-family: Plus Jakarta Sans;
              font-size: 20px;
              line-height: 30px;
              margin-top: 24px;
              max-width: 394px;
            }
            .sponsored_image4{
              margin-top: 28px;
              font-family: var(--default-font);
              font-size: .14rem;
              .sponsored_list{
                height: 60px;
                width: 410px;
                border-style: none;
                vertical-align: middle;
                overflow-clip-margin: content-box;
                overflow: clip;
              }
            }
          }
          
        }
        .floor5{
          width: 100%;
          flex-direction: column;
          .image_floor5{
            margin: 0;
            padding: 0 15px;
            .image_floor5_1{
              display: none;
            }
            .image_floor5_2{
              display: block;
              width: 100%;
                margin-bottom: 46px;
              border-style: none;
              vertical-align: middle;
              overflow-clip-margin: content-box;
              overflow: clip;
            }
          }
        
          .floor5_text{
            display: block;
            margin: 0 54px;
            font-family:"Plus Jakarta Sans Regular","Roboto","Helvetica Neue",sans-serif;
            font-size: .14rem;
            .header_floor5{
              align-items: center;
              display: flex;
              font-family: Plus Jakarta Sans;
              .span_header_floor5{
                color: #000;
                font-size: 24px;
                font-weight: 400;
                line-height: 28px;
                padding-right: 18px;
              }
              .line_header_floor5{
                background: #000;
                content: "";
                display: block;
                height: 1px;
                margin-top: 10px;
                width: 226px;
  
              }
            }
            .sub_floor5{
              font-family: Plus Jakarta Sans;
              font-size: 48px;
              font-weight: 700;
              letter-spacing: -.02em;
              line-height: 1.25;
              margin-top: 24px;
              max-width: 480px;
              position: relative;
              .span_sub_floor5{
                -webkit-text-fill-color: transparent;
                background: linear-gradient(90.48deg,#ffdb4c 14.04%,#ff9e2d 49.09%,#333 115.15%);
                -webkit-background-clip: text;
                letter-spacing: 0;
                font-family: Plus Jakarta Sans;
                font-size:48px;
                font-weight: 700;
                line-height: 1.25;
              }
              
            }
            .article_floor5{
              font-family: Plus Jakarta Sans;
              font-size: 20px;
              line-height: 30px;
              margin-top: 24px;
              max-width: 394px;
            }
          }
          
        }
  
      }
      .desain{
        background-color: #ffffe8;
        padding-bottom: 10px;
        padding-top: 100px;
        position: relative;
        .bg1{
          background-image: url(./../images/bg1.png);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          height: 600px;
          left: 0;
          position: absolute;
          top: 0;
          width: 50%;
        }
        .bg2{
          background-image: url(./../images/bg2.png);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          height: 600px;
          right: 0;
          position: absolute;
          top: 40%;
          width: 50%;
        }
        .bg3{
          background-image: url(./../images/bg3.png);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          height: 600px;
          left: 0;
          position: absolute;
          bottom: 0;
          width: 50%;
        }
        .sec{
          margin: 0;
          padding: 0;
          .sec2{
            margin-left: auto;
            margin-right: auto;
            width: 1100px;
            align-items: center;
            display: flex;
            margin-bottom: 76px;
            .sec2_image{
              display: flex;
              justify-content: center;
              margin-left: -20px;
              margin: 0 40px 0 55px;
              .image{
                width: 545px;
                overflow-clip-margin: content-box;
                overflow: clip;
                border-style: none;
                vertical-align: middle;
              }
            }
          }
          .sec3{
            margin-left: 8px;
            margin: 0 40px 0 55px;
            .title_sec3{
              align-items: center;
              display: flex;
              font-family: Plus Jakarta Sans;
              .span_sec3{
                color: #000;
                font-size: 24px;
                font-weight: 400;
                line-height: 28px;
                padding-right: 18px;
              }
              .line_sec3{
                background: #000;
                content: "";
                display: block;
                height: 1px;
                margin-top: 10px;
                width: 226px; 
              }
            }
            .sub_sec3{
              font-family: Plus Jakarta Sans;
              font-size: 48px;
              font-weight: 700;
              letter-spacing: -.02rem;
              line-height: 1.25;
              margin-top: 18px;
              .sub_sec3_color{
                
                -webkit-text-fill-color: transparent;
                background: linear-gradient(90.48deg,#ffdb4c 14.04%,#ff9e2d 49.09%,#333 115.15%);
                -webkit-background-clip: text;
                letter-spacing: 0;
              }
            }
            .desc_sec3{
              max-width: 432px;
              font-family: Plus Jakarta Sans;
              font-size: 20px;
              line-height: 30px;
              margin-top: 18px;
            }
          }
        }
        .next_sec{
          margin-left: auto;
          margin-right: auto;
          width: 1100px;
          align-items: center;
          display: flex;
          margin-bottom: 76px;
          .next_sec_image_wrap{
            margin: 0 40px 0 55px;
            .next_sec_image{
              width: 416px;
              border-style: none;
              vertical-align: middle;
              overflow-clip-margin: content-box;
              overflow: clip;
            }
          }
          .next_sec3{
            margin-left: 8px;
            margin: 0 40px 0 55px;
            .title_next_sec3{
              align-items: center;
              display: flex;
              font-family: Plus Jakarta Sans;
              .span_next_sec3{
                color: #000;
                font-size: 24px;
                font-weight: 400;
                line-height: 28px;
                padding-right: 18px;
              }
              .line_next_sec3{
                background: #000;
                content: "";
                display: block;
                height: 1px;
                margin-top: 10px;
                width: 226px; 
              }
            }
            .sub_next_sec3{
              font-family: Plus Jakarta Sans;
              font-size: 48px;
              font-weight: 700;
              letter-spacing: -.02rem;
              line-height: 1.25;
              margin-top: 18px;
              .sub_next_sec3_color{
                
                -webkit-text-fill-color: transparent;
                background: linear-gradient(90.48deg,#ffdb4c 14.04%,#ff9e2d 49.09%,#333 115.15%);
                -webkit-background-clip: text;
                letter-spacing: 0;
              }
            }
            .desc_next_sec3{
              max-width: 432px;
              font-family: Plus Jakarta Sans;
              font-size: 20px;
              line-height: 30px;
              margin-top: 18px;
            }
          }
        }
        
      }
      .desain_container{
        background-color: #f5f5f4;
        background-image: url(./../images/swiperBac.png);
        background-position: 100%;
        background-repeat: no-repeat;
        background-size: 50% 100%;
        border-radius: 0 0 24px 24px;
        margin-bottom: -25px;
        padding-bottom: 50px;
        position: relative;
        z-index: 3;
        .swiperBox{
          margin-bottom: 20px;
          padding: 70px 0 0;
          position: relative;
          .title_swiper{
            color: #000;
            font-family: Plus Jakarta Sans;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: -.02em;
            line-height: 60px;
            margin-bottom: 55px;
            text-align: center;
          }
          .desty_page{
            margin-bottom: 60px;
            overflow: unset!important;
            padding-bottom: 100px;
            padding-left: 150px;
            .desty_wrap{
              box-sizing: content-box;
              display: flex;
              height: 100%;
              position: relative;
              transition-property: transform;
              width: 100%;
              z-index: 1;
              transform: translate3d(0px, 0px, 0px);
              cursor: url(./../images/cursor.ico),auto;
              .desty_slide{
                width: 286.667px;
                text-align: left;
                flex-shrink: 0;
                height: 100%;
                position: relative;
                transition-property: transform;
                .imgbox{
                  border-radius: 12px;
                  overflow: hidden;
                  width: 90%;
                  .img_in{
                    width: 100%;
                    border-style: none;
                    vertical-align: middle;
                    overflow-clip-margin: content-box;
                    overflow: clip;
                  }
                }
                .par_desty{
                  color: #000;
                  cursor: pointer;
                  font-family: Plus Jakarta Sans;
                  font-size: 24px;
                  font-style: normal;
                  font-weight: 500;
                  margin-top: 20px;
                  // display: block;
                  // margin-block-start: 1em;
                  // margin-block-end: 1em;
                  // margin-inline-start: 0px;
                  // margin-inline-end: 0px;
                  .span_par_desty{
                    text-align: left;
                    
                  }
                }
              }
              
            }
            .slide_scrollbar{
              height: 2px;
              margin-left: 150px;
              max-width: 81%;
              bottom: 3px;
              left: 1%;
              position: absolute;
              width: 98%;
              z-index: 50;
              background: rgba(0,0,0,.1);
              border-radius: 10px;
              .trans_scroll{
                transform: translate3d(0px, 0px, 0px);
                transition-duration: 0ms;
                width: 780px;
                background: rgba(0,0,0,.5);
                border-radius: 10px;
                height: 100%;
                left: 0;
                position: relative;
                top: 0;
              }
            }
          }
      
        }
        .trusted{
          margin: 0 auto;
          width: 1048px;
          .trusted_title{
            font-family: Plus Jakarta Sans;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 60px;
            margin-bottom: 81px;
            text-align: center; 
            .image_user{
              vertical-align: middle;
              width: 66px;
              border-style: none;
              overflow-clip-margin: content-box;
              overflow: clip;
            }
          }
          .trusted_list{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            .trusted_info{
              cursor: pointer;
              margin-bottom: 50px;
              margin-right: 25px;
              width: 149px;
              .user_list{
                width: 138px; 
                border-style: none;
                vertical-align: middle;
                overflow-clip-margin: content-box;
                overflow: clip;
              }
              .trusted_name{
                color: #333;
                font-family: Plus Jakarta Sans;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                margin-top: 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }
        }
      }
      .container_end{
        background: #f2dd8b;
        display: flex;
        .left_img{
          width: 598px;
          .real_img{
            height: 100%;
            width: 100%;
            border-style: none;
            vertical-align: middle;
            overflow-clip-margin: content-box;
            overflow: clip;
          }
        }
        .right_content{
          flex: 1;
          padding: 100px 0 0 80px;
          .right_title{
            width: 600px;
            color: #000;
            font-family: Plus Jakarta Sans;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: -.02em;
            line-height: 60px;
            margin-bottom: 50px;
          }
          .connect_content{
            display: flex;
            flex-wrap: wrap;
            max-width: 800px;
            .info{
              margin-bottom: 46px;
              margin-right: 90px;
              .info_title{
                font-family: Plus Jakarta Sans;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
              }
              .content_info{
                width: 283px;
                color: #000;
                font-family: Plus Jakarta Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
                margin: 24px 0;
              }
              .link{
                color: #2e53af;
                cursor: pointer;
                font-family: Plus Jakarta Sans;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                letter-spacing: .02em;
                line-height: 20px;
                text-transform: uppercase;
                .link_img{
                  margin-left: 18px;
                  width: 14px;
                  border-style: none;
                  vertical-align: middle;
                  overflow-clip-margin: content-box;
                  overflow: clip;
                }
              }
            }
          }
        }
      }
      .foot{
        font-family: Plus Jakarta Sans;
        .desty_foot{
          background-color: #ffd633;
          border-radius: 34px 34px 0 0;
          margin-top: -32px;
          position: relative;
          z-index: 2;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 60px 107px 50px;
          text-align: left;
          .image_foot{
            cursor: pointer;
            height: 37px;
            width: 88px;
            border-style: none;
            vertical-align: middle;
            overflow-clip-margin: content-box;
            overflow: clip;
          }
          .middle_foot{
            font-family: Plus Jakarta Sans;
            border-bottom: 1px solid #000;
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;
            text-align: left;
            .left_content{
              display: flex;
              .desty{
                margin-right: 80px;
                .title{
                  color: #000;
                  font-family: Plus Jakarta Sans;
                  font-size: 17px;
                  font-weight: 700;
                  line-height: 24px;
                  margin: 50px 0 20px;
                }
                .ul_item{
                  cursor: pointer;
                  list-style-type: none;
                  margin: 0;
                  padding: 0;
                  .li_item{
                    font-weight: 700;
                    font-family: Plus Jakarta Sans;
                    font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 6px;
                    color: #374151!important;
                  }
                  .li_item2{
                    font-family: Plus Jakarta Sans;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    margin-bottom: 6px;
                    color: #374151!important;
                  }
                }
              }
            }
            .subscribe{
              font-family: Plus Jakarta Sans;
              .title{
                color: #000;
                font-family: Plus Jakarta Sans;
                font-size: 17px;
                font-weight: 700;
                line-height: 24px;
                margin: 50px 0 20px; 
              }
              .subs_art{
                color: #374151;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 20px;
                width: 208px;
              }
              .send_box{
                display: flex;
                position: relative;
                .input{
                  border: 1px solid #000;
                  color: #000;
                  background-color: transparent;
                  border-radius: 8px;
                  margin-right: 12px;
                  padding: 10px 0 10px 17px;
                  width: 196px;
                  font-family: Plus Jakarta Sans;
                  font-size: inherit;
                  line-height: inherit;
                }
                .button{
                  background-color: #333;
                  color: #fff;
                  align-items: center;
                  border-radius: 8px;
                  cursor: pointer;
                  display: flex;
                  height: 40px;
                  justify-content: center;
                  width: 80px;
                }
              }
            }
          }
          .bottom_foot{
            display: flex;
            font-family: Plus Jakarta Sans;
            justify-content: space-between;
            margin-top: 16px;
            .left_bottom{
              color: #374151;
              display: flex;
              font-size: 14px;
              .lang_box{
                align-items: center;
                display: flex;
                position: relative; 
                .bottom_span{
                  display: inline-block;
                  width: 86px;
                }
                .arrow_down{
                  fill: currentColor;
                  cursor: pointer;
                  height: 10px;
                  width: 14px;
                  overflow: hidden;
                }
    
              }
              .privacy{
                margin: 0 60px;
                cursor: pointer;
              }
              .term{
                cursor: pointer; 
              }
              
  
  
            }
            .copy{
              color: #000;
            }
          }
        }
        
      }
    }
  }
}    
@media (max-width:548px){
  
}

@media (max-width:425px){
        
}
@media (max-width:375px){
       
}  
@media only screen and (max-width:320px){
    
}
      